@import '../../../assets/fonts.scss';
.recent-order-container{
    background: #fff;
    padding: 2rem;
    .title{
        font-family: 'Roboto-Medium';
        font-size: 2rem;
    }
    .data{
        // table{
        //     .table-row{
        //         padding: 1rem 0;
        //         border-top: 1px solid gold;
        //     } 
        // }
        margin-top: 2rem;
        
        
        .details-table{
            max-height:25rem;
            display: block;
            overflow-y: scroll;
            tr{
                display: flex;
                justify-content: space-between;
                padding: 1rem 0;
                border-top: 0.5px solid lightgray;
                font-family: 'Roboto-Regular';
                td{
                    width: 15%;
                    
                    &:first-child{
                        width: 5%;
                    }
                    &:nth-child(2){
                        width: 18%;
                    }
                    &:nth-child(4){
                        width: 20%;
                    }
                    &:nth-child(5){
                        text-align: center;
                        span{
                            padding: 0.5rem 0.75rem;
                            border-radius: 0.25rem;
                        }
                    }
                    &:nth-child(6){
                        text-align: center;
                    }
                    &:nth-child(7){
                        width: 10%;
                        text-align: center;
                    }
                    &:last-child{
                        text-align: end;
                        width: 5%;
                    }
                }
                
            }
        }
       
        
    }
}